<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Blackjack Table</title>
    <link href="/styles.css" rel="stylesheet"/>
</head>
<body>
<h1>Table #1</h1>
<div class="hand-view">
    <h5>Dealer:</h5>
    <p>
        <span th:each="card : ${table.getDealer().getHand().getCards()}">
            <span th:text="${card.getAbName()} "></span>
        </span>
    </p>
</div>
<div class="hand-view" th:each="player : ${table.getPlayers()}">
    <h5 th:text="${player.getName()}"></h5>
    <p>
        <span th:text="' Bets: ' + ${player.getBets()} "></span>
        <span th:text=" 'Bankroll: ' + ${player.getBankroll()}"></span>
    </p>
    <div th:each="hand : ${player.getHands()}">
        <p>
            <span th:each="card : ${hand.getCards()}">
                <span th:text="${card.getAbName()} "></span>
            </span>
            <span style="color:indigo;padding-left: 10px">Total: </span>
            <span th:text="${hand.getTotal()}"></span>
            <span th:if="${player.canHit}"><button>Hit</button></span>
            <span th:if="${player.canStand}"><button>Stand</button></span>
            <span th:if="${player.canDouble}"><button>Double</button></span>
            <span th:if="${player.canSplit}"><button>Split</button></span>
        </p>
    </div>
</div>
<div>
    <span th:each="card : ${table.getShoe().getShoeCards()}">
        <span th:text="${card.getAbName()}"></span>
    </span>
</div>
</body>
</html>